body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 125%;
}
a:link {
	color: #191970;
}
a:visited {
	color: #191970;
}
a:hover {
	color: #191970;
}
a:active {
	color: #191970;
}
#header {
	font-size: 80%;
	background-color: #f5f5f5;
}
#title {
	font-size: 300%;
	font-weight: bold;
	color: #191970;
}
#menu {
	color: white;
}
button {
	font-size: 125%;
	background-color: #191970;
	color: white;
	border: 0px;
	padding: 5px 196px;
}
button:hover {
	background-color: #080849;
}
#main {
	background-color: #f5f5f5;
	overflow: auto;
}
#footer {
	background-color: #dcdcdc;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
h1 {
	font-size: 125%;
	font-weight: bold;
	margin-left: 50px;
}
h2 {
	margin-left: 70px;
	font-size: 100%;
	font-weight: normal;
}
